.demo {
		width:100%;
		border:1px solid #black;
		border-collapse:collapse	
	}
	.demo caption {
		caption-side:top;
		text-align:center;
	}
	.demo th {
		border:1px solid #C0C0C0;
		background:#6FAB4F;
	}
	.demo td {
                
		border:1px solid #C0C0C0;
		text-align:center;
	}
