@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,300);

*
{
  -moz-transition:all .2s ease-out;
  -ms-transition:all .2s ease-out;
  -o-transition:all .2s ease-out;
  -webkit-transition:all .2s ease-out;
  border:0;
  margin:0;
  padding:0;
  transition:all .2s ease-out;
}

.logotext
{
  font-family:Roboto, sans-serif;
  font-weight:300;
  text-transform:uppercase;
}

#logotext1
{
  border-bottom:2px solid #111;
  font-size:3em;
  height:50px;
  left:10px;
  position:absolute;
}

#logotext2
{
  font-weight:400;
  left:65px;
  letter-spacing:1.5em;
  position:absolute;
  top:54px;
}

#missionstatement
{
  bottom:3px;
  color:#999;
  font-style:italic;
  position:absolute;
  text-align:center;
  width:100%;
}

#aside
{
    float: left;
  -webkit-box-shadow:2px 0 10px 1px rgba(0,0,0,.4);
  background-color:#ddd;
  height:100%;
  position:fixed;
  width:250;
}

#logo
{
  height:115px;
  margin-top:5px;
  position:relative;
  width:100%;
}

#aside ul
{
  list-style-type:none;
  position:relative;
}

#aside ul li
{
  background-color:#ddd;
  box-shadow:inset 10px 1px 0 0 #ccc;
  padding:10px 0;
  text-align:center;
  width:100%;
}

ul li a
{
  color:#666;
  font-family:arial;
  text-decoration:none;
  text-transform:uppercase;
  padding : 10px 80px;
}

ul li a .icon
{
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  font-size:100%;
  left:-18px;
  position:absolute;
  transform:rotate(-45deg);
}

#aside ul li:last-child
{
  box-shadow:inset 10px -1px 0 0 #ccc, inset 0 1px 0 0 #ccc;
}

#aside ul li:hover
{
  box-shadow:inset 50px 0 0 0 #c4c,inset 1px 0 15px 0 #aaa,inset 0 1px 0 0 #ccc,inset 1px 0 0 0 #ccc;
  font-weight:700;
  margin-top:-5px;
  padding:20px 0;
}

#aside ul li:hover > a > .icon
{
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  color:#FFF;
  font-size:150%;
  left:15px;
  transform:rotate(0deg);
}